<RCC>
  <qresource prefix="resources">
    <file>backward.png</file>
    <file>forward.png</file>
    <file>play.png</file>
    <file>speakr.png</file>
    <file>stop.png</file>
  </qresource>
</RCC>
